services:
  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    image: ollama-with-gemma3_1b:latest
    container_name: ollama
    ports:
      - "11434:11434"
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    image: ollama-client-app:latest
    container_name: ollama-app
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      OLLAMA_URL: "http://ollama:11434"
