apiVersion: v1
kind: Service
metadata:
  name: ollama-service
spec:
  selector:
    app: ollama-app # This should match the pod label
  ports:
    - protocol: TCP
      port: 11434
      targetPort: 11434
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama-app
  template:
    metadata:
      labels:
        app: ollama-app
    spec:
      containers:
      - name: app
        image: ollama-client-app:latest
        imagePullPolicy: Never
        env:
        - name: OLLAMA_URL
          value: "http://localhost:11434"
        stdin: true
        tty: true
      - name: ollama
        image: ollama-with-gemma3_1b:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 11434
        readinessProbe:
          httpGet:
            path: /api/tags
            port: 11434
          initialDelaySeconds: 10
          periodSeconds: 10